.App {
  text-align: center;
  font-size: 16pt;
}

.themeRow {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  top: 0;
  right: 0;
  width: 100pt;
}

input {
  border-radius: 6pt;
  border: none;
  padding: 0.5em;
  font-size: 12pt;
  margin-left: 1em;
}

.caption {
  font-size: 9pt;
}

h2 {
  margin-bottom: 0em;
}

h3 {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 700px) {
  .themeRow {
    position: relative;
    margin: auto;
    padding: 0;
    padding-top: 1em;
  }
}

@media only screen and (max-width: 500px) {
  label {
    display: block;
  }
}
